<div class="Settings-root-2sJr8">
    <div class="Settings-animation-2VETD">
        <div class="Settings-head-34_9Y">
            <div class="Settings-titleRegion-3XiY5 ">
                <div class="title">Cài Đặt</div>
                <div class="Settings-close-3dXqH" (click)="close()"><img src="assets/img/setting-close.png"></div>
            </div>
            <nav class="Settings-navigation-2kFQ_">
                <ul>
                    <li class="Settings-menu-1tpM9">
                        <div><span class="Settings-icon-2hwY0"
                                style="background-image: url(&quot;assets/img/setting-general.png&quot;);"></span></div>
                        <div style="">Cài đặt chung</div>
                    </li>
                    <li class="Settings-separator-3VMp4"></li>
                    <li class="Settings-menu-1tpM9">
                        <div><span class="Settings-icon-2hwY0"
                                style="background-image: url(&quot;assets/img/setting-pomo.png&quot;);"></span></div>
                        <div style="">Đồng hồ bấm giờ Pomodoro</div>
                    </li>
                    <li class="Settings-separator-3VMp4"></li>
                    <li class="Settings-menu-1tpM9">
                        <div><span class="Settings-icon-2hwY0"
                                style="background-image: url(&quot;assets/img/setting-sound.png&quot;);"></span></div>
                        <div style="">Âm thanh chuông báo</div>
                    </li>
                    <li class="Settings-separator-3VMp4"></li>
                    <li class="Settings-menu-1tpM9">
                        <div><span class="Settings-icon-2hwY0"
                                style="background-image: url(&quot;assets/img/setting-account-highlight.png&quot;);"></span>
                        </div>
                        <div style="color: rgb(253, 85, 83);">Tài Khoản</div>
                    </li>
                    <li class="Settings-separator-3VMp4"></li>
                    <li class="Settings-menu-1tpM9">
                        <div><span class="Settings-icon-2hwY0"
                                style="background-image: url(&quot;assets/img/setting-purchase.png&quot;);"></span></div>
                        <div style="">Premium</div>
                    </li>
                    <li class="Settings-separator-3VMp4"></li>
                    <li class="Settings-menu-1tpM9">
                        <div><span class="Settings-icon-2hwY0"
                                style="background-image: url(&quot;assets/img/setting-about.png&quot;);"></span></div>
                        <div style="">Giới thiệu</div>
                    </li>
                    <li class="Settings-separator-3VMp4"></li>
                </ul>
                <div class="Settings-navigationSeparator-3jbKy"></div>
            </nav>
        </div>
        <div class="Settings-content-2P-hz">
            <div class="AccountSettings-root-3_0iJ">
                <div class="AccountSettings-login-LV_Io">
                    <div>
                        <div class="AccountSettings-title-mHd-m">Đăng Nhập | Đăng ký</div>
                        <div class="AccountSettings-detail-1tNCB">
                            <p>Đăng nhập để tận hưởng nhiều tính năng của Premium hơn</p>
                            <p>Sao lưu dữ liệu trên Cloud.</p>
                            <p>Đồng bộ hóa trên tất cả các nền tảng</p>
                        </div>
                        <div class="AccountSettings-loginButton-3wt_w small-font">Đăng nhập | Đăng ký</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>