<div class="Report-root-1Xrli">
    <div class="Report-animation-pOUlE">
        <div class="Report-header-3CF8O ">
            <div class="Report-close-1eJwh" (click)="close()"><img src="assets/img/setting-close.png"></div>
            <div class="title">Báo Cáo</div>
        </div>
        <div class="ScrollView-root-1KhMW Report-content-3hwGL">
            <div class="Summary-root-1wSvk">
                <table>
                    <tbody>
                        <tr>
                            <td class="Summary-value-1ErN2">0.4</td>
                            <td class="Summary-value-1ErN2">0</td>
                            <td class="Summary-value-1ErN2">0</td>
                            <td class="Summary-value-1ErN2">0</td>
                            <td class="Summary-value-1ErN2">0</td>
                            <td class="Summary-value-1ErN2">0</td>
                        </tr>
                        <tr>
                            <td class="Summary-title-3y8yt">Tổng Thời Gian Tập Trung (Giờ)</td>
                            <td class="Summary-title-3y8yt">Thời Gian Tập Trung Tuần Này (Giờ)</td>
                            <td class="Summary-title-3y8yt">Thời Gian Tập Trung Hôm Nay (Giờ)</td>
                            <td class="Summary-title-3y8yt">Công Việc Đã Hoàn Tất</td>
                            <td class="Summary-title-3y8yt">Công Việc Đã Hoàn Tất Tuần Này</td>
                            <td class="Summary-title-3y8yt">Công Việc Đã Hoàn Tất Hôm Nay</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="ReviewChart-root-3Luiv">
                <div class="ReviewChart-head-1Ware">
                    <div>Tổng quan</div>
                </div>
                <div class="ReviewChart-content-3xKvA"><canvas width="724" height="160"></canvas></div>
            </div>
            <div class="ProjectChart-root-3RvKH">
                <div class="ProjectChart-head-1PCrG">
                    <div>Phân Phối Thời Gian Dự Án</div>
                </div>
                <div class="ProjectChart-content-33rw5">
                    <div class="ProjectChart-duration-NcPUG">
                        <div class="ProjectChart-durationPicker-2pni2"><span class="ProjectChart-pre-P2MYk"></span><span
                                class="ProjectChart-displayer-1Y1T3">Th06 2021</span><span
                                class="ProjectChart-next-bJGDu"></span></div>
                        <div class="TimeGranularitySelection-root-20tL4"><span
                                class="TimeGranularitySelection-option-2GMPp"
                                style="background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);">CN</span><span
                                class="TimeGranularitySelection-option-2GMPp"
                                style="background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);">tuần</span><span
                                class="TimeGranularitySelection-option-2GMPp"
                                style="background-color: rgb(253, 85, 83); color: rgb(255, 255, 255);">tháng</span>
                        </div>
                    </div>
                    <div class="ProjectChart-doughnutContainer-9Ycqr">
                        <div class="ProjectChart-chart-1yqKm">
                            <div style="width: 100%; height: 100%;"><canvas width="440"
                                    style="width: 100%; height: 100%;" height="270"></canvas></div>
                        </div>
                        <div class="ProjectChart-legend-2VzkN">
                            <div class="ProjectChart-excisionTest-2HZlU"><span
                                    class="ProjectChart-color-3KKaE"></span><span class="ProjectChart-title-2j3TM">Nhiệm
                                    vụ (100%, 0.4h)</span></div>
                            <ul>
                                <li><span class="ProjectChart-color-3KKaE"
                                        style="background-color: rgb(174, 189, 195);"></span><span
                                        class="ProjectChart-title-2j3TM">Nhiệm vụ (100%, 0.4h)</span></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="CurveChart-root-2S0Y9">
                <div class="CurveChart-head-d16e-">
                    <div>Biểu Đồ Đường Cong Pomodoro</div>
                    <div class="CurveChart-detail-3_--N small-font">Cao Nhất: 1 Pomodoro Trung Bình: 0.3 Pomodoro</div>
                </div>
                <div class="CurveChart-content-29eGe">
                    <div class="TimeGranularitySelection-root-20tL4"><span class="TimeGranularitySelection-option-2GMPp"
                            style="background-color: rgb(253, 85, 83); color: rgb(255, 255, 255);">CN</span><span
                            class="TimeGranularitySelection-option-2GMPp"
                            style="background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);">tuần</span><span
                            class="TimeGranularitySelection-option-2GMPp"
                            style="background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);">tháng</span></div>
                    <div class="CurveChart-chart-1-K2e"><canvas width="724" height="268"></canvas></div>
                </div>
            </div>
            <div class="CurveChart-root-2S0Y9">
                <div class="CurveChart-head-d16e-">
                    <div>Biểu Đồ Đường Cong Công Việc</div>
                    <div class="CurveChart-detail-3_--N small-font">Cao Nhất: 0 việc Trung Bình: 0 việc</div>
                </div>
                <div class="CurveChart-content-29eGe">
                    <div class="TimeGranularitySelection-root-20tL4"><span class="TimeGranularitySelection-option-2GMPp"
                            style="background-color: rgb(253, 85, 83); color: rgb(255, 255, 255);">CN</span><span
                            class="TimeGranularitySelection-option-2GMPp"
                            style="background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);">tuần</span><span
                            class="TimeGranularitySelection-option-2GMPp"
                            style="background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);">tháng</span></div>
                    <div class="CurveChart-chart-1-K2e"><canvas width="724" height="268"></canvas></div>
                </div>
            </div>
        </div>
    </div>
</div>