<div class="App-root-3lUsX" style="color: rgb(82, 82, 82);">

    <header class="HomeHeader-root-3j1OD ">
        <div class="HomeHeader-menu-2foH8">
            <div class="HomeHeader-premium-19qT3">
                <img src="/assets/img/header-premium.png">
            </div>
            <div class="HomeHeader-report-3kOhc">
                <img src="/assets/img/header-report.png">
            </div>
            <div class="HomeHeader-notification-1IP0o">
                <span>

                </span>
            </div>
            <div><img src="/assets/img/header-setting.png"></div>
        </div>
        <div class="HomeHeader-userinfo-2-nbm"><img class="HomeHeader-portrait-xqqY2"
                src="/assets/img/header-portrait.png"><span class="HomeHeader-login-D2hkS"
                style="color: rgb(253, 85, 83);">[usr_login] | [usr_register]</span>
        </div>
    </header>

    
</div>