<section class="projects-list" id="projects-list">
    <ul>
        <li id="589D0EBE-8D85-46EF-B6EB-5D9EE43CF350"
            class="ProjectItem-root-1iGkr ProjectItem-customized-pWHe2" draggable="true">
            <table class="ProjectItem-table-1WW2h  " cellpadding="0" cellspacing="0">
                <tbody>
                    <tr>
                        <td class="ProjectItem-icon-TNX2M"><span class="ProjectItem-color-2KDC5"
                                style="background-color: rgb(174, 189, 195);"></span></td>
                        <td class="ProjectItem-name-3IyjO"><span>[prj_default]</span></td>
                        <td class="ProjectItem-estimatedTime-1FiA2" style="color: rgb(174, 174, 174);">0h</td>
                        <td class="ProjectItem-taskQuantity-2TAGR" style="color: rgb(174, 174, 174);">0</td>
                        <td class="ProjectItem-menu-1IALY"></td>
                    </tr>
                </tbody>
            </table>
        </li>
    </ul>
</section>