<div class="root" style="height: 100%; width: 100%;">
    <div class="App-root-3lUsX" style="color: rgb(82, 82, 82);">
        <app-header></app-header>
        <main>
            <div class="App-content-3dPpu">
                <app-project-region class="ProjectRegion-root-3juUi"></app-project-region>
                <app-task-region class="TaskRegion-root-1DP6d"></app-task-region>
                <!-- <div class="Timer-root-1NNf3 Timer-work-33kH9 Timer-notWin-2bgyV Timer-float-16rJl">
                    <div class="FloatTimer-root-3_uz_">
                        <div class="FloatTimer-content-1uSBh">
                            <table>
                                <tbody>
                                    <tr>
                                        <td class="FloatTimer-timer-2RdpT">
                                            <div class="FloatTimer-dial-3YvkG"><canvas width="40" height="40"></canvas>
                                                <div class="FloatTimer-countdown-Hwcmh">25</div>
                                            </div>
                                        </td>
                                        <td class="FloatTimer-actions-YG_w6"><span
                                                class="FloatTimer-start-3nvWr"></span>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="FloatTimer-zoomup-3tTgo"><img src="/assets/img/timer-zoomup.png"></div>
                    </div>
                </div> -->
            </div>
        </main>

    </div>
</div>