<div class="TaskNewItem-root-138hW">
    <table class="TaskNewItem-table-3ZUt1" cellpadding="0" cellspacing="0">
        <tbody>
            <tr>
                <td class="TaskNewItem-add-1zQPr"></td>
                <td class="TaskNewItem-name-2btd2"><input type="text" placeholder="[tsk_new_placeholder]" tabindex="-1"
                        value=""></td>
                <td class="TaskNewItem-pomodoros-ag4I5" style="width: 120px;">
                    <div><span class="TaskNewItem-pomodoro-2QPrD"></span><span
                            class="TaskNewItem-pomodoro-2QPrD"></span><span
                            class="TaskNewItem-pomodoro-2QPrD"></span><span
                            class="TaskNewItem-pomodoro-2QPrD"></span><span class="TaskNewItem-pomodoro-2QPrD"></span>
                    </div>
                    <span class="TaskNewItem-pomodoroSelectionAnchor-1d2cK"></span>
                </td>
                <td class="TaskNewItem-separator-2s1Pf">
                    <div></div>
                </td>
                <td class="TaskNewItem-project-V6XLj" style="display: table-cell;">
                    <div class="TaskNewItem-popoverAnchor-3K6Xj"><span style="background-color: rgb(174, 189, 195);">
                        </span>
                    </div>
                </td>
                <td class="TaskNewItem-deadline-39npX">
                    <span matDatepickerToggleIcon style="background-image: url(/assets/img/project-someday.png);">

                    </span>

                </td>
            </tr>
        </tbody>
    </table>

    <app-date-picker-popup></app-date-picker-popup>

</div>