<div style="color: rgb(82, 82, 82);">
    <div class="Overlay-mask-HoFLp"></div>
    <div class="Overlay-content-3RLzF">
        <div class="Login-root-2xoxx">
            <div class="Login-head-3fCQY">
                <div class="Login-close-j_-2T"(click)="onNoClick()"><img src="/assets/img/login-close.png"></div>
                <div class="Login-logo-qJiw4"><img src="/assets/img/logo.png" alt="Foucs To-do"></div>
            </div>
            <div>
                <div class="Login-content-2z-9y">
                    <div class="Login-thirdLogin-3NjE5">
                        <div class="Login-wechart-2AI1r"><img
                                src="/assets/img/login-wechat.svg"><span>[usr_login]</span>
                        </div>
                        <div class="Login-fackbook-kxle8"><img
                                src="/assets/img/login-facebook.svg"><span>[usr_login]</span>
                        </div>
                    </div>
                    <div class="Login-separator-o1Lrw">
                        <div class="Login-separatorLine-3-qTI"></div>
                        <div><span class="Login-separatorTitle-3mGUP">[cmm_or]</span></div>
                    </div>
                    <form class="Login-loginForm-kQ6No">
                        <p><input type="email" tabindex="1" placeholder="[usr_email]" value=""></p>
                        <p><input type="password" tabindex="2" placeholder="[usr_pwd]" value=""></p>
                        <div class="Login-errorMsg-3NuJF"><img src="/assets/img/login-error.png" alt="error icon"><span
                                class="small-font"></span></div>
                        <div class="Login-submit-1higv larger1-font" tabindex="2">[usr_login_space]</div>
                        <div class="Login-forgetPassword-2l39r small-font">[usr_forget_pwd]</div>
                    </form>
                </div>
                <div class="Login-bottom-10F-9">
                    <div class="Login-register-2ZoZz">[usr_register_acct]</div>
                </div>
            </div>
        </div>
    </div>
</div>