<div style="color: rgb(82, 82, 82);">
        <div class="Overlay-mask-HoFLp"></div>
        <div class="Overlay-content-3RLzF">
                <div class="TagEditer-root-35C0d">
                        <div class="TagEditer-title-JdDbB larger1-font">Nhãn mới</div><input
                                class="TagEditer-name-287Kb" type="text" placeholder="Tên của nhãn" tabindex="-1"
                                value="" style="border: 1px solid rgb(229, 229, 229);">
                        <div class="TagEditer-colors-2mpBa">
                                <div class="TagEditer-colorRow-zcRR0">
                                        <div class="ProjectColorOption-root-2DWKB"><span
                                                        class="ProjectColorOption-color-2bnh9"
                                                        style="background-color: rgb(174, 189, 195);"></span></div>
                                        <div class="ProjectColorOption-root-2DWKB"><span
                                                        class="ProjectColorOption-color-2bnh9"
                                                        style="background-color: rgb(118, 139, 253);"></span></div>
                                        <div class="ProjectColorOption-root-2DWKB"><span
                                                        class="ProjectColorOption-color-2bnh9"
                                                        style="background-color: rgb(103, 195, 232);"></span></div>
                                        <div class="ProjectColorOption-root-2DWKB"><span
                                                        class="ProjectColorOption-color-2bnh9"
                                                        style="background-color: rgb(244, 179, 87);"></span></div>
                                        <div class="ProjectColorOption-root-2DWKB"><span
                                                        class="ProjectColorOption-color-2bnh9"
                                                        style="background-color: rgb(197, 64, 181);"></span></div>
                                        <div class="ProjectColorOption-root-2DWKB"><span
                                                        class="ProjectColorOption-color-2bnh9"
                                                        style="background-color: rgb(244, 101, 140);"></span></div>
                                        <div class="ProjectColorOption-root-2DWKB"><span
                                                        class="ProjectColorOption-color-2bnh9"
                                                        style="background-color: rgb(247, 213, 80);"></span></div>
                                        <div class="ProjectColorOption-root-2DWKB"><span
                                                        class="ProjectColorOption-color-2bnh9"
                                                        style="background-color: rgb(160, 206, 98);"></span></div>
                                        <div class="ProjectColorOption-root-2DWKB"><span
                                                        class="ProjectColorOption-color-2bnh9"
                                                        style="background-color: rgb(255, 127, 85);"></span></div>
                                        <div class="ProjectColorOption-root-2DWKB"><span
                                                        class="ProjectColorOption-color-2bnh9"
                                                        style="background-color: rgb(166, 111, 240);"></span></div>
                                </div>
                                <div class="TagEditer-colorRow-zcRR0">
                                        <div class="ProjectColorOption-root-2DWKB"><span
                                                        class="ProjectColorOption-color-2bnh9"
                                                        style="background-color: rgb(30, 172, 220);"></span></div>
                                        <div class="ProjectColorOption-root-2DWKB"><span
                                                        class="ProjectColorOption-color-2bnh9"
                                                        style="background-color: rgb(132, 226, 174);"></span></div>
                                        <div class="ProjectColorOption-root-2DWKB"><span
                                                        class="ProjectColorOption-color-2bnh9"
                                                        style="background-color: rgb(141, 76, 227);"></span></div>
                                        <div class="ProjectColorOption-root-2DWKB"><span
                                                        class="ProjectColorOption-color-2bnh9"
                                                        style="background-color: rgb(70, 112, 246);"></span></div>
                                        <div class="ProjectColorOption-root-2DWKB"><span
                                                        class="ProjectColorOption-color-2bnh9"
                                                        style="background-color: rgb(233, 94, 211);"></span></div>
                                        <div class="ProjectColorOption-root-2DWKB"><span
                                                        class="ProjectColorOption-color-2bnh9"
                                                        style="background-color: rgb(236, 107, 102);"></span></div>
                                        <div class="ProjectColorOption-root-2DWKB"><span
                                                        class="ProjectColorOption-color-2bnh9"
                                                        style="background-color: rgb(164, 164, 165);"></span><img
                                                        class="ProjectColorOption-checked-3dmE3"
                                                        src="assets/img/project-color-checked.png"></div>
                                        <div class="ProjectColorOption-root-2DWKB"><span
                                                        class="ProjectColorOption-color-2bnh9"
                                                        style="background-color: rgb(182, 154, 143);"></span></div>
                                        <div class="ProjectColorOption-root-2DWKB"><span
                                                        class="ProjectColorOption-color-2bnh9"
                                                        style="background-color: rgb(98, 224, 197);"></span></div>
                                        <div class="ProjectColorOption-root-2DWKB"><span
                                                        class="ProjectColorOption-color-2bnh9"
                                                        style="background-color: rgb(78, 78, 78);"></span></div>
                                </div>
                        </div>
                        <div class="TagEditer-actions-B5amz"><span class="TagEditer-cancel-2LfOw small-font"
                                        style="border: 1px solid rgb(229, 229, 229);"
                                        (click)="closePopup()">Huỷ</span><span
                                        class="TagEditer-confirm-1r0pv small-font"
                                        style="background-color: rgb(253, 85, 83);" (click)="closePopup()">Xác
                                        nhận</span></div>
                </div>
        </div>
</div>