<div class="popup-menu">
  <div class="popup-head">
      <div class="popup-close"><img src="/assets/img/login-close.png"></div>
      <div class="popup-logo"><img src="/assets/img/logo.png" alt="Foucs To-do"></div>
  </div>
  <div>
      <div class="popup-content">
          <form class="popup-loginform">
              <p><input type="email" tabindex="1" placeholder="Email" value=""></p>
              <p><input type="password" tabindex="2" placeholder="Password" value=""></p>
              <div class="popup-errorMsg"><img src="/assets/img/login-error.png" alt="error icon"><span
                      class="small-font"></span></div>
              <div class="popup-submit larger1-font" tabindex="2">[usr_login_space]</div>
              <div class="popup-forgetPassword small-font">[usr_forget_pwd]</div>
          </form>
      </div>
      <div class="popup-bottom">
          <div class="popup-register">Submit</div>
      </div>
  </div>
</div>