<section class="projects-date">
    <ul>
        <li id="id-deadline-today" class="ProjectItem-root-1iGkr ProjectItem-checked-385Hh" draggable="true">
            <table class="ProjectItem-table-1WW2h  " cellpadding="0" cellspacing="0">
                <tbody>
                    <tr>
                        <td class="ProjectItem-icon-TNX2M"><span class="ProjectItem-image-2nqua"
                                style="background-image: url(/assets/img/project-today.png);"></span></td>
                        <td class="ProjectItem-name-3IyjO"><span>[prj_today]</span></td>
                        <td class="ProjectItem-estimatedTime-1FiA2" style="color: rgb(174, 174, 174);">0h</td>
                        <td class="ProjectItem-taskQuantity-2TAGR" style="color: rgb(174, 174, 174);">0</td>
                        <td class="ProjectItem-menu-1IALY"></td>
                    </tr>
                </tbody>
            </table>
        </li>
        <li id="id-deadline-tomorrow" class="ProjectItem-root-1iGkr" draggable="true">
            <table class="ProjectItem-table-1WW2h  " cellpadding="0" cellspacing="0">
                <tbody>
                    <tr>
                        <td class="ProjectItem-icon-TNX2M"><span class="ProjectItem-image-2nqua"
                                style="background-image: url(/assets/img/project-tomorrow.png);"></span>
                        </td>
                        <td class="ProjectItem-name-3IyjO"><span>[prj_tomorrow]</span></td>
                        <td class="ProjectItem-estimatedTime-1FiA2" style="color: rgb(174, 174, 174);">0h</td>
                        <td class="ProjectItem-taskQuantity-2TAGR" style="color: rgb(174, 174, 174);">0</td>
                        <td class="ProjectItem-menu-1IALY"></td>
                    </tr>
                </tbody>
            </table>
        </li>
        <li id="id-deadline-upcoming" class="ProjectItem-root-1iGkr" draggable="true">
            <table class="ProjectItem-table-1WW2h  " cellpadding="0" cellspacing="0">
                <tbody>
                    <tr>
                        <td class="ProjectItem-icon-TNX2M"><span class="ProjectItem-image-2nqua"
                                style="background-image: url(/assets/img/project-upcoming.png);"></span>
                        </td>
                        <td class="ProjectItem-name-3IyjO"><span>[prj_upcoming]</span></td>
                        <td class="ProjectItem-estimatedTime-1FiA2" style="color: rgb(174, 174, 174);">0h</td>
                        <td class="ProjectItem-taskQuantity-2TAGR" style="color: rgb(174, 174, 174);">0</td>
                        <td class="ProjectItem-menu-1IALY"></td>
                    </tr>
                </tbody>
            </table>
        </li>
        <li id="id-deadline-someday" class="ProjectItem-root-1iGkr" draggable="true">
            <table class="ProjectItem-table-1WW2h  " cellpadding="0" cellspacing="0">
                <tbody>
                    <tr>
                        <td class="ProjectItem-icon-TNX2M"><span class="ProjectItem-image-2nqua"
                                style="background-image: url(/assets/img/project-someday.png);"></span></td>
                        <td class="ProjectItem-name-3IyjO"><span>[prj_someday]</span></td>
                        <td class="ProjectItem-estimatedTime-1FiA2" style="color: rgb(174, 174, 174);">0h</td>
                        <td class="ProjectItem-taskQuantity-2TAGR" style="color: rgb(174, 174, 174);">0</td>
                        <td class="ProjectItem-menu-1IALY"></td>
                    </tr>
                </tbody>
            </table>
        </li>
        <li id="id-task-history" class="ProjectItem-root-1iGkr ProjectItem-allTask-3jnEn" draggable="true">
            <table class="ProjectItem-table-1WW2h  " cellpadding="0" cellspacing="0">
                <tbody>
                    <tr>
                        <td class="ProjectItem-icon-TNX2M"><span class="ProjectItem-image-2nqua"
                                style="background-image: url(/assets/img/prj-history.png);"></span></td>
                        <td class="ProjectItem-name-3IyjO"><span>[prj_history]</span></td>
                        <td class="ProjectItem-estimatedTime-1FiA2" style="color: rgb(174, 174, 174);">0h</td>
                        <td class="ProjectItem-taskQuantity-2TAGR" style="color: rgb(174, 174, 174);">0</td>
                        <td class="ProjectItem-menu-1IALY"></td>
                    </tr>
                </tbody>
            </table>
        </li>
    </ul>
</section>