<div style="color: rgb(82, 82, 82);">
        <div class="Overlay-mask-HoFLp"></div>
        <div class="Overlay-content-3RLzF">
                <div class="ProjectEditer-root-3ocqC">
                        <div class="ProjectEditer-title-lC3dh larger1-font">Thêm Dự Án</div><input
                                class="ProjectEditer-name-kbIqn" type="text" placeholder="Tên dự án" tabindex="-1"
                                value="" style="border: 1px solid rgb(229, 229, 229);">
                        <div class="ProjectEditer-colors-3G-b_">
                                <div class="ProjectEditer-colorRow-3Ds4D">
                                        <div class="ProjectColorOption-root-2DWKB"><span
                                                        class="ProjectColorOption-color-2bnh9"
                                                        style="background-color: rgb(174, 189, 195);"></span></div>
                                        <div class="ProjectColorOption-root-2DWKB"><span
                                                        class="ProjectColorOption-color-2bnh9"
                                                        style="background-color: rgb(118, 139, 253);"></span></div>
                                        <div class="ProjectColorOption-root-2DWKB"><span
                                                        class="ProjectColorOption-color-2bnh9"
                                                        style="background-color: rgb(103, 195, 232);"></span></div>
                                        <div class="ProjectColorOption-root-2DWKB"><span
                                                        class="ProjectColorOption-color-2bnh9"
                                                        style="background-color: rgb(244, 179, 87);"></span></div>
                                        <div class="ProjectColorOption-root-2DWKB"><span
                                                        class="ProjectColorOption-color-2bnh9"
                                                        style="background-color: rgb(197, 64, 181);"></span></div>
                                        <div class="ProjectColorOption-root-2DWKB"><span
                                                        class="ProjectColorOption-color-2bnh9"
                                                        style="background-color: rgb(244, 101, 140);"></span></div>
                                        <div class="ProjectColorOption-root-2DWKB"><span
                                                        class="ProjectColorOption-color-2bnh9"
                                                        style="background-color: rgb(247, 213, 80);"></span></div>
                                        <div class="ProjectColorOption-root-2DWKB"><span
                                                        class="ProjectColorOption-color-2bnh9"
                                                        style="background-color: rgb(160, 206, 98);"></span></div>
                                        <div class="ProjectColorOption-root-2DWKB"><span
                                                        class="ProjectColorOption-color-2bnh9"
                                                        style="background-color: rgb(255, 127, 85);"></span></div>
                                        <div class="ProjectColorOption-root-2DWKB"><span
                                                        class="ProjectColorOption-color-2bnh9"
                                                        style="background-color: rgb(166, 111, 240);"></span></div>
                                </div>
                                <div class="ProjectEditer-colorRow-3Ds4D">
                                        <div class="ProjectColorOption-root-2DWKB"><span
                                                        class="ProjectColorOption-color-2bnh9"
                                                        style="background-color: rgb(30, 172, 220);"></span></div>
                                        <div class="ProjectColorOption-root-2DWKB"><span
                                                        class="ProjectColorOption-color-2bnh9"
                                                        style="background-color: rgb(132, 226, 174);"></span></div>
                                        <div class="ProjectColorOption-root-2DWKB"><span
                                                        class="ProjectColorOption-color-2bnh9"
                                                        style="background-color: rgb(141, 76, 227);"></span></div>
                                        <div class="ProjectColorOption-root-2DWKB"><span
                                                        class="ProjectColorOption-color-2bnh9"
                                                        style="background-color: rgb(70, 112, 246);"></span></div>
                                        <div class="ProjectColorOption-root-2DWKB"><span
                                                        class="ProjectColorOption-color-2bnh9"
                                                        style="background-color: rgb(233, 94, 211);"></span></div>
                                        <div class="ProjectColorOption-root-2DWKB"><span
                                                        class="ProjectColorOption-color-2bnh9"
                                                        style="background-color: rgb(236, 107, 102);"></span></div>
                                        <div class="ProjectColorOption-root-2DWKB"><span
                                                        class="ProjectColorOption-color-2bnh9"
                                                        style="background-color: rgb(164, 164, 165);"></span></div>
                                        <div class="ProjectColorOption-root-2DWKB"><span
                                                        class="ProjectColorOption-color-2bnh9"
                                                        style="background-color: rgb(182, 154, 143);"></span></div>
                                        <div class="ProjectColorOption-root-2DWKB"><span
                                                        class="ProjectColorOption-color-2bnh9"
                                                        style="background-color: rgb(98, 224, 197);"></span><img
                                                        class="ProjectColorOption-checked-3dmE3"
                                                        src="/assets/img/project-color-checked.png"></div>
                                        <div class="ProjectColorOption-root-2DWKB"><span
                                                        class="ProjectColorOption-color-2bnh9"
                                                        style="background-color: rgb(78, 78, 78);"></span></div>
                                </div>
                        </div>
                        <div class="ProjectEditer-actions-2AazX"><span class="ProjectEditer-cancel-3R5RD small-font"
                                        style="border: 1px solid rgb(229, 229, 229);"
                                        (click)="closePopup()">Huỷ</span><span
                                        class="ProjectEditer-confirm-6dVlj small-font"
                                        style="background-color: rgb(253, 85, 83);" (click)="closePopup()">Xác
                                        nhận</span></div>
                </div>
        </div>
</div>