<div class="ScrollView-root-1KhMW ProjectRegion-projects-3Hgl6">
    <app-date></app-date>
    <div class="ProjectRegion-separator-iiTYZ"></div>
    <app-list></app-list>
</div>
<div class="ProjectNewItem-root-32JmP" style="color: rgb(253, 85, 83);">
    <table class="ProjectNewItem-table-gIKNN">
        <tbody>
            <tr>
                <td><span class="ProjectNewItem-project-c-qz2"></span><span class="ProjectNewItem-title-2Yrfy"
                        (click)="openAddProjectDialog()">Thêm mới</span></td>
                <td class="ProjectNewItem-tag-7tt3p" (click)="openAddLabelDialog()"></td>
                <td class="ProjectNewItem-folder-3d1KU"></td>
            </tr>
        </tbody>
    </table>
</div>