<div class="TaskDetailRegion-content-xb2-z">
    <div class="ScrollView-root-1KhMW TaskDetailRegion-taskInfo-3JK_T">
        <div class="TitleItem-root-2Pnii">
            <table class="TitleItem-table-2wtPx" cellpadding="0" cellspacing="0">
                <tbody>
                    <tr class="TitleItem-tr-Z0y36">
                        <td class="TitleItem-complete-_w2p-" valign="top"><span
                                style="background-image: url(&quot;/assets/img/task_no_priority.png&quot;); transform: rotate(0deg);"></span>
                        </td>
                        <td class="TitleItem-start-25lKz" valign="top"><span
                                style="background-image: url(&quot;/assets/img/task-start.png&quot;);"></span>
                        </td>
                        <td class="TitleItem-name-2qKdY">
                            <div tabindex="-1" contenteditable="true">sss</div>
                        </td>
                        <td class="TitleItem-priority-mqthQ" valign="top"><span
                                style="background-image: url(&quot;/assets/img/task_priority_none.png&quot;);"></span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="TagItem-root-32rnW">
            <div class="TagAdd-root-2Akbf">
                <div class="TagAdd-content-y-Nnq"><span class="TagAdd-icon-1LkHA"></span><span
                        class="TagAdd-title-19xKr small-font">Nhãn</span></div>
            </div>
        </div>
        <div class="PomodoroItem-root-2imI9">
            <table class="PomodoroItem-table-2Zh_k" cellpadding="0" cellspacing="0">
                <tbody>
                    <tr class="pomodoros">
                        <td class="PomodoroItem-icon-1PFZA"></td>
                        <td class="PomodoroItem-title-1iIP-">Số lượng Pomodoro</td>
                        <td class="PomodoroItem-value-2UABE"><span class="PomodoroItem-actualPomo-3ay1O"></span><span
                                class="PomodoroItem-actualPomoNum-1I3KB">0</span><span
                                class="PomodoroItem-separator-1D8cT">/</span><span
                                class="PomodoroItem-estimatedPomo-24jOW"></span><span
                                class="PomodoroItem-estimatedPomoNum-BaLFC">0</span></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="DeadlineItem-root-1IPDY">
            <table class="DeadlineItem-table-j306N" cellpadding="0" cellspacing="0">
                <tbody>
                    <tr>
                        <td class="DeadlineItem-icon-1Puzi"></td>
                        <td class="DeadlineItem-title-2Lle5">Ngày đến hạn</td>
                        <td class="DeadlineItem-value-2_u5P"><span>Hôm nay</span></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="ProjectItem-root-37Zqb">
            <table class="ProjectItem-table-3Gddb" cellpadding="0" cellspacing="0">
                <tbody>
                    <tr>
                        <td class="ProjectItem-icon-1ak2f"></td>
                        <td class="ProjectItem-title-1tbzl">Dự Án</td>
                        <td class="ProjectItem-value-2PBK0"><span>Nhiệm vụ</span></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="ReminderItem-root-23izk">
            <table class="ReminderItem-table-3DOUW" cellpadding="0" cellspacing="0">
                <tbody>
                    <tr>
                        <td class="ReminderItem-icon-sDXoR"></td>
                        <td class="ReminderItem-title-1Q7Go">Báo nhắc</td>
                        <td class="ReminderItem-value-1DaBf"><span style="color: rgb(174, 174, 174);">Không</span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="RepetitionItem-root-Jnfaj">
            <table class="RepetitionItem-table-3Nln8" cellpadding="0" cellspacing="0">
                <tbody>
                    <tr>
                        <td class="RepetitionItem-icon-16s8s"></td>
                        <td class="RepetitionItem-title-28R70">Lặp lại</td>
                        <td class="RepetitionItem-value-2lsSq" style="color: rgb(174, 174, 174);">
                            <span>Không</span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="SubtaskList-root-m0xTQ">
            <div class="SubtaskList-separator-1Xf8w"></div>
            <ul class="SubtaskList-list-1K6gn"></ul>
            <div class="SubtaskNewItem-root-5gAQN">
                <table class="SubtaskNewItem-table-safl-">
                    <tbody>
                        <tr>
                            <td class="SubtaskNewItem-icon-10LZ_"><img src="/assets/img/detail-subtask-add.png">
                            </td>
                            <td><input type="text" placeholder="Thêm công việc phụ" tabindex="-10" value="">
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="SubtaskList-separator-1Xf8w"></div>
        </div>
        <div class="RemarkItem-root-3xiQ0"><textarea class="RemarkItem-content-2V78p" placeholder="Thêm ghi chú..."
                tabindex="-20" style="height: 165px;"></textarea></div>
    </div>
    <div class="BottomBar-root-35rph">
        <table class="BottomBar-table-368Q5">
            <tbody>
                <tr>
                    <td class="BottomBar-close-2T6Rt" (click)="close()"><img src="/assets/img/detail-close.png"></td>
                    <td class="BottomBar-title-187kn" style="color: rgb(174, 174, 174);">Được tạo Hôm nay</td>
                    <td class="BottomBar-delete-1CEVO"><img src="/assets/img/detail-delete.png"></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>