html,
body {
	height: 100%;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box
}

body {
	margin: 0 auto
}

.content {
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -200px;
	margin-left: -200px;
	text-align: center;
	display: inline-block;
	height: 250px;
	width: 400px
}

.logo {
	display: inline-block;
	height: 60px;
	width: 60px;
	margin: 0 auto;
	margin-bottom: 36px
}

.logo img {
	width: 100%;
	height: 100%
}

.success {
	font-size: 2em;
	display: none
}

.reset-password {
	padding: 16px;
	font-size: 1.1667em;
	height: 154px;
	width: 100%;
	border-radius: 3px;
	box-shadow: 0 0 2px 0 rgba(131, 131, 131, 0.5)
}

.reset-password form p {
	line-height: 34px;
	height: 34px
}

.reset-password form p label {
	display: inline-block;
	height: 34px;
	width: 204px;
	padding-right: 4px;
	text-align: left;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis
}

.reset-password form p input {
	outline: none;
	border: 1px solid #e5e5e5;
	border-radius: 3px;
	display: inline-block;
	height: 30px;
	width: 160px;
	padding: 0 8px;
	vertical-align: top
}

.reset-password .submit {
	color: #fff;
	text-align: center;
	background-color: #fd5553;
	outline: none;
	border-radius: 3px;
	width: 100%;
	height: 34px;
	line-height: 34px
}

.error-message {
	position: relative;
	margin-top: 0;
	margin-bottom: 4px;
	height: 14px;
	line-height: 14px;
	color: #ff1525;
	text-align: left;
	visibility: hidden
}

.error-message span {
	display: inline-block;
	-webkit-transform-origin: left;
	transform-origin: left;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	width: 430px;
	margin-left: 12px
}

.error-message img {
	position: absolute;
	top: 1px;
	width: 10px;
	height: 10px
}

.small-font {
	font-size: 12px;
	-webkit-transform: scale(0.83);
	-webkit-transform-origin: left;
	transform-origin: left
}