<div>
    <ul>
        <li class="TaskGroup-group-qRIhd">
            <p class="TaskGroup-title-1CON3">Nhiệm vụ</p>
            <ul>
                <li class="TaskItem-task-3fs9l" (click)="activeTaskDetails()" draggable="true" style="opacity: 1;">
                    <table class="TaskItem-table-2vAkt" cellpadding="0" cellspacing="0">
                        <tbody>
                            <tr>
                                <td class="TaskItem-complete-dAAJC"><span
                                        style="background-image: url(&quot;assets/img/task_no_priority.png&quot;); transform: rotate(0deg);"></span>
                                </td>
                                <td class="TaskItem-start-34nhg"><span
                                        style="background-image: url(&quot;assets/img/task-start.png&quot;);"></span></td>
                                <td class="TaskItem-nameAndPomodoros-G6vBu">
                                    <div class="TaskItem-nameAndTags-2jXfZ ">
                                        <div class="TaskItem-name-1NOcK" contenteditable="false">ssaassaasasasa'</div>
                                        <div class="TaskItem-tags-1_UCA"></div>
                                    </div>
                                    <div class="TaskItem-lessPomodoros-1C60D"><span class="TaskItem-pomodoro-eo56c"><img
                                                src="assets/img/task-pomo-estimate.png"></span><span
                                            class="TaskItem-pomodoro-eo56c"><img
                                                src="assets/img/task-pomo-estimate.png"></span></div>
                                </td>
                                <td class="TaskItem-reminder-soZOH" style="display: none;"><span></span></td>
                                <td class="TaskItem-repetition-174Vo" style="display: none;"><img
                                        src="assets/img/task-repetition.png"></td>
                                <td class="TaskItem-subtask-1jn80" style="display: none;"><img
                                        src="assets/img/task-subtask.png"></td>
                                <td class="TaskItem-remark-sf2VH" style="display: none;"><img src="assets/img/task-remark.png">
                                </td>
                                <td class="TaskItem-deadline-2bOpg" style="width: 44px; color: rgb(221, 75, 57);"><span
                                        class="small-font">7 Th06</span></td>
                            </tr>
                        </tbody>
                    </table>
                </li>
                <li class="TaskItem-task-3fs9l" (click)="activeTaskDetails()" draggable="true" style="opacity: 1;">
                    <table class="TaskItem-table-2vAkt" cellpadding="0" cellspacing="0">
                        <tbody>
                            <tr>
                                <td class="TaskItem-complete-dAAJC"><span
                                        style="background-image: url(&quot;assets/img/task_no_priority.png&quot;); transform: rotate(0deg);"></span>
                                </td>
                                <td class="TaskItem-start-34nhg"><span
                                        style="background-image: url(&quot;assets/img/task-start.png&quot;);"></span></td>
                                <td class="TaskItem-nameAndPomodoros-G6vBu">
                                    <div class="TaskItem-nameAndTags-2jXfZ ">
                                        <div class="TaskItem-name-1NOcK" contenteditable="false">a</div>
                                        <div class="TaskItem-tags-1_UCA"></div>
                                    </div>
                                    <div class="TaskItem-lessPomodoros-1C60D"><span class="TaskItem-pomodoro-eo56c"><img
                                                src="assets/img/task-pomo-actual.png"></span></div>
                                </td>
                                <td class="TaskItem-reminder-soZOH" style="display: none;"><span></span></td>
                                <td class="TaskItem-repetition-174Vo" style="display: none;"><img
                                        src="assets/img/task-repetition.png"></td>
                                <td class="TaskItem-subtask-1jn80" style="display: none;"><img
                                        src="assets/img/task-subtask.png"></td>
                                <td class="TaskItem-remark-sf2VH" style="display: none;"><img src="assets/img/task-remark.png">
                                </td>
                                <td class="TaskItem-deadline-2bOpg" style="width: 44px; color: rgb(221, 75, 57);"><span
                                        class="small-font">6 Th06</span></td>
                            </tr>
                        </tbody>
                    </table>
                </li>
            </ul>
        </li>
    </ul>
</div>